.app-bar {
    background-color: transparent !important;
  }
  
  .toolbar {
    justify-content: space-between;
  }
  
  .menu-button {
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 600px) {
    .nav-links {
      display: none;
    }
    .menu-button {
      display: block;
    }
  }
  